In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
    .builder \
    .appName("My First PySpark App") \
    .getOrCreate()

In [3]:
from pyspark import SparkContext
sc =spark.sparkContext

In [4]:
spark

In [5]:
sc

In [31]:
accounts = spark.read.option('header', 'true').csv('./accounts.csv')

In [32]:
type(accounts)#.columns()

pyspark.sql.dataframe.DataFrame

In [33]:
accounts.columns

['account_number', 'aba', 'bic', 'opened', 'balance']

In [17]:
import pandas as pd
import json

In [24]:
with open('./averages-1.json', 'r') as file:
    text2 = json.load(file)

In [35]:
acconts = pd.read_csv('./accounts.csv')

In [37]:
type(acconts)

pandas.core.frame.DataFrame

In [39]:
acconts.columns

Index(['account_number', 'aba', 'bic', 'opened', 'balance'], dtype='object')

In [40]:
accounts.count()

10000

In [41]:
len(acconts)

10000

In [44]:
accounts.first()

Row(account_number='CBXD44669851029839', aba='102317138', bic='RWWEGBRO0T5', opened='2009-06-04', balance='285769')

In [45]:
acconts.head(1)

       account_number        aba          bic      opened  balance
0  CBXD44669851029839  102317138  RWWEGBRO0T5  2009-06-04   285769

In [46]:
accounts.printSchema()

root
 |-- account_number: string (nullable = true)
 |-- aba: string (nullable = true)
 |-- bic: string (nullable = true)
 |-- opened: string (nullable = true)
 |-- balance: string (nullable = true)

In [47]:
acconts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   account_number  10000 non-null  object
 1   aba             10000 non-null  int64
 2   bic             10000 non-null  object
 3   opened          10000 non-null  object
 4   balance         10000 non-null  int64
dtypes: int64(2), object(3)
memory usage: 390.8+ KB

In [64]:
neg_balance = accounts.filter(accounts.balance < 16000)
neg_balance.count()

87

In [58]:
neg_balance_1 = acconts[acconts['balance']<16000]
neg_balance_1.shape

(87, 5)

In [67]:
accounts.filter(accounts.balance < 16000).show(1)
acconts[acconts['balance']<16000].head(1)

+------------------+---------+-----------+----------+-------+
|    account_number|      aba|        bic|    opened|balance|
+------------------+---------+-----------+----------+-------+
|LFAZ19426323862904|122855340|CAZTGB63CUO|2011-10-17|   9659|
+------------------+---------+-----------+----------+-------+
only showing top 1 row

         account_number        aba          bic      opened  balance
154  LFAZ19426323862904  122855340  CAZTGB63CUO  2011-10-17     9659

In [70]:
accounts.filter((accounts.balance < 16000) &  (accounts.aba == 122855340)).show()
accounts.filter((accounts.balance < 16000) |  (accounts.aba == 122855340)).show(3)

+------------------+---------+-----------+----------+-------+
|    account_number|      aba|        bic|    opened|balance|
+------------------+---------+-----------+----------+-------+
|LFAZ19426323862904|122855340|CAZTGB63CUO|2011-10-17|   9659|
+------------------+---------+-----------+----------+-------+

+------------------+---------+-----------+----------+-------+
|    account_number|      aba|        bic|    opened|balance|
+------------------+---------+-----------+----------+-------+
|LFAZ19426323862904|122855340|CAZTGB63CUO|2011-10-17|   9659|
|FWMO74805672975655|124724893|OFINGBZV1NR|2014-06-29|   3178|
|QSSL20810906098479|110534482|   RGDUGB5S|2021-07-17|  12330|
+------------------+---------+-----------+----------+-------+
only showing top 3 rows

In [73]:
acconts[(acconts['balance']<16000) &(acconts.aba == 122855340)  ].head()
acconts[(acconts['balance']<16000)  | (acconts.aba == 122855340)  ].head(3)

         account_number        aba          bic      opened  balance
154  LFAZ19426323862904  122855340  CAZTGB63CUO  2011-10-17     9659
177  FWMO74805672975655  124724893  OFINGBZV1NR  2014-06-29     3178
473  QSSL20810906098479  110534482     RGDUGB5S  2021-07-17    12330

In [81]:
accounts.select('bic').show(5)
acconts['bic'].head(5)

+-----------+
|        bic|
+-----------+
|RWWEGBRO0T5|
|   TIDCGB2I|
|HGMJGB9AIFY|
|VQEAGBT2HP7|
|BQCSGBADD0Z|
+-----------+
only showing top 5 rows

0    RWWEGBRO0T5
1       TIDCGB2I
2    HGMJGB9AIFY
3    VQEAGBT2HP7
4    BQCSGBADD0Z
Name: bic, dtype: object

In [95]:
accounts.filter(accounts.bic.contains('RW')).show(5)
acconts[acconts['bic'].str.contains('RW')].head(5)

+------------------+---------+-----------+----------+-------+
|    account_number|      aba|        bic|    opened|balance|
+------------------+---------+-----------+----------+-------+
|CBXD44669851029839|102317138|RWWEGBRO0T5|2009-06-04| 285769|
|JBFJ55650700031898|017962623|HLRWGB966R0|2013-05-27|1285934|
|CLYU93158050783944|033940344|   ARWUGB2N|2020-07-09|1614037|
|UOSY02528749924373|017778587|   QMRWGBBO|2022-01-17|1091508|
|AJCN60845342910450|032760127|   OXRWGBML|2014-03-06|1301445|
+------------------+---------+-----------+----------+-------+
only showing top 5 rows

         account_number        aba          bic      opened  balance
0    CBXD44669851029839  102317138  RWWEGBRO0T5  2009-06-04   285769
14   JBFJ55650700031898   17962623  HLRWGB966R0  2013-05-27  1285934
65   CLYU93158050783944   33940344     ARWUGB2N  2020-07-09  1614037
92   UOSY02528749924373   17778587     QMRWGBBO  2022-01-17  1091508
356  AJCN60845342910450   32760127     OXRWGBML  2014-03-06  1301445

In [96]:
from pyspark.sql.functions import col
accounts.filter(col('bic').contains('RW')).show(5)

+------------------+---------+-----------+----------+-------+
|    account_number|      aba|        bic|    opened|balance|
+------------------+---------+-----------+----------+-------+
|CBXD44669851029839|102317138|RWWEGBRO0T5|2009-06-04| 285769|
|JBFJ55650700031898|017962623|HLRWGB966R0|2013-05-27|1285934|
|CLYU93158050783944|033940344|   ARWUGB2N|2020-07-09|1614037|
|UOSY02528749924373|017778587|   QMRWGBBO|2022-01-17|1091508|
|AJCN60845342910450|032760127|   OXRWGBML|2014-03-06|1301445|
+------------------+---------+-----------+----------+-------+
only showing top 5 rows