## Exploratory data analysis using PYspark

In [2]:
from pyspark.sql import SparkSession;
from pyspark.context import SparkContext;
spark = SparkSession \
    .builder \
    .appName("Exploratory Data analysis") \
    .getOrCreate()

sc = spark.sparkContext

In [4]:
df = spark.read.csv('./data/SalesAnalysis.csv',header = True )
df.show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  176558|USB-C Charging Cable|               2|     11.95|04/19/19 08:46|917 1st St, Dalla...|
|    NULL|                NULL|            NULL|      NULL|          NULL|                NULL|
|  176559|Bose SoundSport H...|               1|     99.99|04/07/19 22:30|682 Chestnut St, ...|
|  176560|        Google Phone|               1|       600|04/12/19 14:38|669 Spruce St, Lo...|
|  176560|    Wired Headphones|               1|     11.99|04/12/19 14:38|669 Spruce St, Lo...|
|  176561|    Wired Headphones|               1|     11.99|04/30/19 09:27|333 8th St, Los A...|
|  176562|USB-C Charging Cable|               1|     11.95|04/29/19 13:03|381 Wilson St, Sa...|
|  176563|Bose SoundSport H...|               1|     99.99|04/02/19 07:46|668 Center St, Se...|
|  176564|USB-C Charging Cable|               1|     11.95|04/12/19 10:58|790 Ridge St, Atl...|
|  176565|  Macbook Pro Laptop|               1|      1700|04/24/19 10:38|915 Willow St, Sa...|
|  176566|    Wired Headphones|               1|     11.99|04/08/19 14:05|83 7th St, Boston...|
|  176567|        Google Phone|               1|       600|04/18/19 17:18|444 7th St, Los A...|
|  176568|Lightning Chargin...|               1|     14.95|04/15/19 12:18|438 Elm St, Seatt...|
|  176569|27in 4K Gaming Mo...|               1|    389.99|04/16/19 19:23|657 Hill St, Dall...|
|  176570|AA Batteries (4-p...|               1|      3.84|04/22/19 15:09|186 12th St, Dall...|
|  176571|Lightning Chargin...|               1|     14.95|04/19/19 14:29|253 Johnson St, A...|
|  176572|Apple Airpods Hea...|               1|       150|04/04/19 20:30|149 Dogwood St, N...|
|  176573|USB-C Charging Cable|               1|     11.95|04/27/19 18:41|214 Chestnut St, ...|
|  176574|        Google Phone|               1|       600|04/03/19 19:42|20 Hill St, Los A...|
|  176574|USB-C Charging Cable|               1|     11.95|04/03/19 19:42|20 Hill St, Los A...|
+--------+--------------------+----------------+----------+--------------+--------------------+
only showing top 20 rows

In [5]:
df.printSchema()

root
 |-- Order ID: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: string (nullable = true)
 |-- Price Each: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)

In [6]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType,TimestampType

schema = StructType([StructField('Order ID', IntegerType(), True), 
                      StructField('Product', StringType(), True), 
                      StructField('Quantity Ordered', IntegerType(), True), 
                      StructField('Price Each', FloatType(), True),
                      StructField('Order Date', TimestampType(), True),
                      StructField('Purchase Address', StringType(), True)
                     ])

In [7]:
df = spark.read.csv('./data/SalesAnalysis.csv',header = True,schema = schema )
df.show()

+--------+--------------------+----------------+----------+----------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+----------+--------------------+
|  176558|USB-C Charging Cable|               2|     11.95|      NULL|917 1st St, Dalla...|
|    NULL|                NULL|            NULL|      NULL|      NULL|                NULL|
|  176559|Bose SoundSport H...|               1|     99.99|      NULL|682 Chestnut St, ...|
|  176560|        Google Phone|               1|     600.0|      NULL|669 Spruce St, Lo...|
|  176560|    Wired Headphones|               1|     11.99|      NULL|669 Spruce St, Lo...|
|  176561|    Wired Headphones|               1|     11.99|      NULL|333 8th St, Los A...|
|  176562|USB-C Charging Cable|               1|     11.95|      NULL|381 Wilson St, Sa...|
|  176563|Bose SoundSport H...|               1|     99.99|      NULL|668 Center St, Se...|
|  176564|USB-C Charging Cable|               1|     11.95|      NULL|790 Ridge St, Atl...|
|  176565|  Macbook Pro Laptop|               1|    1700.0|      NULL|915 Willow St, Sa...|
|  176566|    Wired Headphones|               1|     11.99|      NULL|83 7th St, Boston...|
|  176567|        Google Phone|               1|     600.0|      NULL|444 7th St, Los A...|
|  176568|Lightning Chargin...|               1|     14.95|      NULL|438 Elm St, Seatt...|
|  176569|27in 4K Gaming Mo...|               1|    389.99|      NULL|657 Hill St, Dall...|
|  176570|AA Batteries (4-p...|               1|      3.84|      NULL|186 12th St, Dall...|
|  176571|Lightning Chargin...|               1|     14.95|      NULL|253 Johnson St, A...|
|  176572|Apple Airpods Hea...|               1|     150.0|      NULL|149 Dogwood St, N...|
|  176573|USB-C Charging Cable|               1|     11.95|      NULL|214 Chestnut St, ...|
|  176574|        Google Phone|               1|     600.0|      NULL|20 Hill St, Los A...|
|  176574|USB-C Charging Cable|               1|     11.95|      NULL|20 Hill St, Los A...|
+--------+--------------------+----------------+----------+----------+--------------------+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- Order ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: integer (nullable = true)
 |-- Price Each: float (nullable = true)
 |-- Order Date: timestamp (nullable = true)
 |-- Purchase Address: string (nullable = true)

In [13]:
print('Number of rows: \t', df.count())

Number of rows: 	 186850

In [14]:
df.head(5)

[Row(Order ID=176558, Product='USB-C Charging Cable', Quantity Ordered=2, Price Each=11.949999809265137, Order Date=None, Purchase Address='917 1st St, Dallas, TX 75001'),
 Row(Order ID=None, Product=None, Quantity Ordered=None, Price Each=None, Order Date=None, Purchase Address=None),
 Row(Order ID=176559, Product='Bose SoundSport Headphones', Quantity Ordered=1, Price Each=99.98999786376953, Order Date=None, Purchase Address='682 Chestnut St, Boston, MA 02215'),
 Row(Order ID=176560, Product='Google Phone', Quantity Ordered=1, Price Each=600.0, Order Date=None, Purchase Address='669 Spruce St, Los Angeles, CA 90001'),
 Row(Order ID=176560, Product='Wired Headphones', Quantity Ordered=1, Price Each=11.989999771118164, Order Date=None, Purchase Address='669 Spruce St, Los Angeles, CA 90001')]

In [15]:
df.take(4)

[Row(Order ID=176558, Product='USB-C Charging Cable', Quantity Ordered=2, Price Each=11.949999809265137, Order Date=None, Purchase Address='917 1st St, Dallas, TX 75001'),
 Row(Order ID=None, Product=None, Quantity Ordered=None, Price Each=None, Order Date=None, Purchase Address=None),
 Row(Order ID=176559, Product='Bose SoundSport Headphones', Quantity Ordered=1, Price Each=99.98999786376953, Order Date=None, Purchase Address='682 Chestnut St, Boston, MA 02215'),
 Row(Order ID=176560, Product='Google Phone', Quantity Ordered=1, Price Each=600.0, Order Date=None, Purchase Address='669 Spruce St, Los Angeles, CA 90001')]

In [16]:
df.select('Order ID').show(7)

+--------+
|Order ID|
+--------+
|  176558|
|    NULL|
|  176559|
|  176560|
|  176560|
|  176561|
|  176562|
+--------+
only showing top 7 rows

In [17]:
df.show(n=2, vertical=True)

-RECORD 0--------------------------------
 Order ID         | 176558
 Product          | USB-C Charging Cable
 Quantity Ordered | 2
 Price Each       | 11.95
 Order Date       | NULL
 Purchase Address | 917 1st St, Dalla...
-RECORD 1--------------------------------
 Order ID         | NULL
 Product          | NULL
 Quantity Ordered | NULL
 Price Each       | NULL
 Order Date       | NULL
 Purchase Address | NULL
only showing top 2 rows

In [18]:
df.orderBy('Price Each',ascending=False).show(5)

+--------+------------------+----------------+----------+----------+--------------------+
|Order ID|           Product|Quantity Ordered|Price Each|Order Date|    Purchase Address|
+--------+------------------+----------------+----------+----------+--------------------+
|  284775|Macbook Pro Laptop|               1|    1700.0|      NULL|11 Spruce St, San...|
|  176565|Macbook Pro Laptop|               1|    1700.0|      NULL|915 Willow St, Sa...|
|  213757|Macbook Pro Laptop|               1|    1700.0|      NULL|992 14th St, Dall...|
|  176639|Macbook Pro Laptop|               1|    1700.0|      NULL|853 Cedar St, San...|
|  312515|Macbook Pro Laptop|               1|    1700.0|      NULL|639 Highland St, ...|
+--------+------------------+----------------+----------+----------+--------------------+
only showing top 5 rows

In [19]:
df.describe().show()

+-------+-----------------+------------+------------------+------------------+--------------------+
|summary|         Order ID|     Product|  Quantity Ordered|        Price Each|    Purchase Address|
+-------+-----------------+------------+------------------+------------------+--------------------+
|  count|           185950|      186305|            185950|            185950|              186305|
|   mean|230417.5693788653|        NULL|1.1243828986286637| 184.3997338440329|                NULL|
| stddev|51512.73710999645|        NULL|0.4427926240286704|332.73132902597354|                NULL|
|    min|           141234|20in Monitor|                 1|              2.99|1 11th St, Atlant...|
|    max|           319670|      iPhone|                 9|            1700.0|    Purchase Address|
+-------+-----------------+------------+------------------+------------------+--------------------+

In [20]:
df.describe('Order ID','Quantity Ordered').show()

+-------+-----------------+------------------+
|summary|         Order ID|  Quantity Ordered|
+-------+-----------------+------------------+
|  count|           185950|            185950|
|   mean|230417.5693788653|1.1243828986286637|
| stddev|51512.73710999645|0.4427926240286704|
|    min|           141234|                 1|
|    max|           319670|                 9|
+-------+-----------------+------------------+

In [21]:
df.agg({'Order ID':'min'}).show()

+-------------+
|min(Order ID)|
+-------------+
|       141234|
+-------------+

In [22]:
df.summary().show()

+-------+-----------------+------------+------------------+------------------+--------------------+
|summary|         Order ID|     Product|  Quantity Ordered|        Price Each|    Purchase Address|
+-------+-----------------+------------+------------------+------------------+--------------------+
|  count|           185950|      186305|            185950|            185950|              186305|
|   mean|230417.5693788653|        NULL|1.1243828986286637| 184.3997338440329|                NULL|
| stddev|51512.73710999645|        NULL|0.4427926240286704|332.73132902597354|                NULL|
|    min|           141234|20in Monitor|                 1|              2.99|1 11th St, Atlant...|
|    25%|           185824|        NULL|                 1|             11.95|                NULL|
|    50%|           230360|        NULL|                 1|             14.95|                NULL|
|    75%|           275025|        NULL|                 1|             150.0|                NULL|
|    max|           319670|      iPhone|                 9|            1700.0|    Purchase Address|
+-------+-----------------+------------+------------------+------------------+--------------------+

In [23]:
df.summary('mean', '50%').show()

+-------+-----------------+-------+------------------+-----------------+----------------+
|summary|         Order ID|Product|  Quantity Ordered|       Price Each|Purchase Address|
+-------+-----------------+-------+------------------+-----------------+----------------+
|   mean|230417.5693788653|   NULL|1.1243828986286637|184.3997338440329|            NULL|
|    50%|           230360|   NULL|                 1|            14.95|            NULL|
+-------+-----------------+-------+------------------+-----------------+----------------+

In [25]:
df.select('Order ID').summary('mean','stddev').show()

+-------+-----------------+
|summary|         Order ID|
+-------+-----------------+
|   mean|230417.5693788653|
| stddev|51512.73710999645|
+-------+-----------------+

In [26]:
from pyspark.sql.functions import avg, stddev

df.agg(avg('Price Each'), stddev('Order ID')).show()

+-----------------+-----------------+
|  avg(Price Each)| stddev(Order ID)|
+-----------------+-----------------+
|184.3997338440329|51512.73710999645|
+-----------------+-----------------+

In [27]:
df.approxQuantile('Price Each', [0.25, 0.5, 0.75], 0.01)

[11.949999809265137, 14.949999809265137, 150.0]

In [28]:
df.corr('Quantity Ordered','Price Each')

-0.1392435069904256

In [29]:
df_sample = df.sample(False, 0.01)
df_sample.show(4)

+--------+--------------------+----------------+----------+----------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+----------+--------------------+
|  176563|Bose SoundSport H...|               1|     99.99|      NULL|668 Center St, Se...|
|  176598|AAA Batteries (4-...|               2|      2.99|      NULL|294 Park St, San ...|
|  176644|USB-C Charging Cable|               1|     11.95|      NULL|962 7th St, Los A...|
|  176734|Apple Airpods Hea...|               1|     150.0|      NULL|611 Jackson St, N...|
+--------+--------------------+----------------+----------+----------+--------------------+
only showing top 4 rows

In [30]:
print(df.count())
print(df_sample.count())

186850
1933

In [32]:
#df.groupBy('Product').pivot('Price Each').sum().show()

+--------------------+------------------+--------------------------+--------------------+------------------+--------------------------+--------------------+------------------+--------------------------+--------------------+-------------------+---------------------------+---------------------+-------------------+---------------------------+---------------------+-------------------+---------------------------+---------------------+-------------------+---------------------------+---------------------+--------------------+----------------------------+----------------------+--------------------+----------------------------+----------------------+-------------------+---------------------------+---------------------+-------------------+---------------------------+---------------------+--------------------+----------------------------+----------------------+--------------------+----------------------------+----------------------+-------------------+---------------------------+---------------------+-------------------+---------------------------+---------------------+-------------------+---------------------------+---------------------+--------------------+----------------------------+----------------------+--------------------+----------------------------+----------------------+
|             Product|null_sum(Order ID)|null_sum(Quantity Ordered)|null_sum(Price Each)|2.99_sum(Order ID)|2.99_sum(Quantity Ordered)|2.99_sum(Price Each)|3.84_sum(Order ID)|3.84_sum(Quantity Ordered)|3.84_sum(Price Each)|11.95_sum(Order ID)|11.95_sum(Quantity Ordered)|11.95_sum(Price Each)|11.99_sum(Order ID)|11.99_sum(Quantity Ordered)|11.99_sum(Price Each)|14.95_sum(Order ID)|14.95_sum(Quantity Ordered)|14.95_sum(Price Each)|99.99_sum(Order ID)|99.99_sum(Quantity Ordered)|99.99_sum(Price Each)|109.99_sum(Order ID)|109.99_sum(Quantity Ordered)|109.99_sum(Price Each)|149.99_sum(Order ID)|149.99_sum(Quantity Ordered)|149.99_sum(Price Each)|150.0_sum(Order ID)|150.0_sum(Quantity Ordered)|150.0_sum(Price Each)|300.0_sum(Order ID)|300.0_sum(Quantity Ordered)|300.0_sum(Price Each)|379.99_sum(Order ID)|379.99_sum(Quantity Ordered)|379.99_sum(Price Each)|389.99_sum(Order ID)|389.99_sum(Quantity Ordered)|389.99_sum(Price Each)|400.0_sum(Order ID)|400.0_sum(Quantity Ordered)|400.0_sum(Price Each)|600.0_sum(Order ID)|600.0_sum(Quantity Ordered)|600.0_sum(Price Each)|700.0_sum(Order ID)|700.0_sum(Quantity Ordered)|700.0_sum(Price Each)|999.99_sum(Order ID)|999.99_sum(Quantity Ordered)|999.99_sum(Price Each)|1700.0_sum(Order ID)|1700.0_sum(Quantity Ordered)|1700.0_sum(Price Each)|
+--------------------+------------------+--------------------------+--------------------+------------------+--------------------------+--------------------+------------------+--------------------------+--------------------+-------------------+---------------------------+---------------------+-------------------+---------------------------+---------------------+-------------------+---------------------------+---------------------+-------------------+---------------------------+---------------------+--------------------+----------------------------+----------------------+--------------------+----------------------------+----------------------+-------------------+---------------------------+---------------------+-------------------+---------------------------+---------------------+--------------------+----------------------------+----------------------+--------------------+----------------------------+----------------------+-------------------+---------------------------+---------------------+-------------------+---------------------------+---------------------+-------------------+---------------------------+---------------------+--------------------+----------------------------+----------------------+--------------------+----------------------------+----------------------+
|    Wired Headphones|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|               NULL|                       NULL|                 NULL|         4350951550|                      20557|   226395.17567825317|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|
|  Macbook Pro Laptop|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|          1091957910|                        4728|             8030800.0|
|Apple Airpods Hea...|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|         3579120098|                      15661|            2332350.0|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|
|              iPhone|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|         1571389766|                       6849|            4789400.0|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|
|                NULL|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|
|Lightning Chargin...|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|         4994090695|                      23217|   323787.09586906433|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|
|Bose SoundSport H...|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|         3071496156|                      13457|    1332366.721534729|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|
|USB-C Charging Cable|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|         5049538196|                      23975|    261740.8458223343|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|
|AAA Batteries (4-...|              NULL|                      NULL|                NULL|        4764959472|                     31017|  61716.590196847916|              NULL|                      NULL|                NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|
|        20in Monitor|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|           950889651|                        4129|    451068.98123931885|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|
|    27in FHD Monitor|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|          1724223743|                        7550|    1125974.9712371826|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|
|     Vareebadd Phone|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|              NULL|                      NULL|                NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|          472532509|                       2068|             826000.0|               NULL|                       NULL|                 NULL|               NULL|                       NULL|                 NULL|                NULL|                        NULL|                  NULL|                NULL|                        NULL|                  NULL|

In [35]:
products = df.select('Product').distinct()
products.collect()

[Row(Product='Wired Headphones'),
 Row(Product='Macbook Pro Laptop'),
 Row(Product='Apple Airpods Headphones'),
 Row(Product='iPhone'),
 Row(Product='Lightning Charging Cable'),
 Row(Product='Bose SoundSport Headphones'),
 Row(Product='USB-C Charging Cable'),
 Row(Product='AAA Batteries (4-pack)'),
 Row(Product='20in Monitor'),
 Row(Product='27in FHD Monitor'),
 Row(Product='Vareebadd Phone'),
 Row(Product='34in Ultrawide Monitor'),
 Row(Product='LG Dryer'),
 Row(Product='AA Batteries (4-pack)'),
 Row(Product='Google Phone'),
 Row(Product='Flatscreen TV'),
 Row(Product='LG Washing Machine'),
 Row(Product='Product'),
 Row(Product='27in 4K Gaming Monitor'),
 Row(Product='ThinkPad Laptop'),
 Row(Product=None)]

In [37]:
products.sort('Product',ascending=False).show()

+--------------------+
|             Product|
+--------------------+
|              iPhone|
|    Wired Headphones|
|     Vareebadd Phone|
|USB-C Charging Cable|
|     ThinkPad Laptop|
|             Product|
|  Macbook Pro Laptop|
|Lightning Chargin...|
|  LG Washing Machine|
|            LG Dryer|
|        Google Phone|
|       Flatscreen TV|
|Bose SoundSport H...|
|Apple Airpods Hea...|
|AAA Batteries (4-...|
|AA Batteries (4-p...|
|34in Ultrawide Mo...|
|    27in FHD Monitor|
|27in 4K Gaming Mo...|
|        20in Monitor|
+--------------------+
only showing top 20 rows

In [38]:
df.groupBy('Product').count().show()

+--------------------+-----+
|             Product|count|
+--------------------+-----+
|    Wired Headphones|18882|
|  Macbook Pro Laptop| 4724|
|Apple Airpods Hea...|15549|
|              iPhone| 6842|
|                NULL|  545|
|Lightning Chargin...|21658|
|Bose SoundSport H...|13325|
|USB-C Charging Cable|21903|
|AAA Batteries (4-...|20641|
|        20in Monitor| 4101|
|    27in FHD Monitor| 7507|
|     Vareebadd Phone| 2065|
|34in Ultrawide Mo...| 6181|
|            LG Dryer|  646|
|AA Batteries (4-p...|20577|
|        Google Phone| 5525|
|       Flatscreen TV| 4800|
|  LG Washing Machine|  666|
|             Product|  355|
|27in 4K Gaming Mo...| 6230|
+--------------------+-----+
only showing top 20 rows

In [39]:
df.groupBy('Product').mean('Price Each').show()

+--------------------+------------------+
|             Product|   avg(Price Each)|
+--------------------+------------------+
|    Wired Headphones|11.989999771118164|
|  Macbook Pro Laptop|            1700.0|
|Apple Airpods Hea...|             150.0|
|              iPhone|             700.0|
|                NULL|              NULL|
|Lightning Chargin...|14.949999809265137|
|Bose SoundSport H...| 99.98999786376953|
|USB-C Charging Cable|11.949999809265137|
|AAA Batteries (4-...| 2.990000009536743|
|        20in Monitor|109.98999786376953|
|    27in FHD Monitor|149.99000549316406|
|     Vareebadd Phone|             400.0|
|34in Ultrawide Mo...|  379.989990234375|
|            LG Dryer|             600.0|
|AA Batteries (4-p...|3.8399999141693115|
|        Google Phone|             600.0|
|       Flatscreen TV|             300.0|
|  LG Washing Machine|             600.0|
|             Product|              NULL|
|27in 4K Gaming Mo...|  389.989990234375|
+--------------------+------------------+
only showing top 20 rows

In [40]:
df.filter(df.Product == 'Wired Headphones').show()

+--------+----------------+----------------+----------+----------+--------------------+
|Order ID|         Product|Quantity Ordered|Price Each|Order Date|    Purchase Address|
+--------+----------------+----------------+----------+----------+--------------------+
|  176560|Wired Headphones|               1|     11.99|      NULL|669 Spruce St, Lo...|
|  176561|Wired Headphones|               1|     11.99|      NULL|333 8th St, Los A...|
|  176566|Wired Headphones|               1|     11.99|      NULL|83 7th St, Boston...|
|  176594|Wired Headphones|               1|     11.99|      NULL|63 Maple St, San ...|
|  176595|Wired Headphones|               3|     11.99|      NULL|383 6th St, Los A...|
|  176627|Wired Headphones|               1|     11.99|      NULL|994 13th St, Atla...|
|  176640|Wired Headphones|               2|     11.99|      NULL|164 Lake St, San ...|
|  176661|Wired Headphones|               1|     11.99|      NULL|522 6th St, Atlan...|
|  176666|Wired Headphones|               1|     11.99|      NULL|382 Forest St, Se...|
|  176686|Wired Headphones|               1|     11.99|      NULL|892 10th St, Aust...|
|  176692|Wired Headphones|               1|     11.99|      NULL|290 Forest St, Sa...|
|  176697|Wired Headphones|               1|     11.99|      NULL|675 Center St, Ne...|
|  176708|Wired Headphones|               1|     11.99|      NULL|542 Ridge St, New...|
|  176713|Wired Headphones|               1|     11.99|      NULL|498 Walnut St, Sa...|
|  176716|Wired Headphones|               1|     11.99|      NULL|794 7th St, Los A...|
|  176742|Wired Headphones|               1|     11.99|      NULL|115 Forest St, Lo...|
|  176745|Wired Headphones|               1|     11.99|      NULL|461 Adams St, Los...|
|  176760|Wired Headphones|               1|     11.99|      NULL|813 Highland St, ...|
|  176764|Wired Headphones|               1|     11.99|      NULL|652 Center St, At...|
|  176768|Wired Headphones|               1|     11.99|      NULL|643 Spruce St, Lo...|
+--------+----------------+----------------+----------+----------+--------------------+
only showing top 20 rows

In [42]:
df.filter((df.Product == '20in Monitor') & (df['Price Each']>=100)).show()

+--------+------------+----------------+----------+----------+--------------------+
|Order ID|     Product|Quantity Ordered|Price Each|Order Date|    Purchase Address|
+--------+------------+----------------+----------+----------+--------------------+
|  176588|20in Monitor|               1|    109.99|      NULL|765 Cherry St, Se...|
|  176659|20in Monitor|               1|    109.99|      NULL|804 Church St, Da...|
|  176673|20in Monitor|               1|    109.99|      NULL|952 1st St, Bosto...|
|  176690|20in Monitor|               1|    109.99|      NULL|873 Sunset St, Sa...|
|  176703|20in Monitor|               1|    109.99|      NULL|748 Washington St...|
|  176710|20in Monitor|               2|    109.99|      NULL|848 West St, Dall...|
|  176733|20in Monitor|               1|    109.99|      NULL|575 Hickory St, S...|
|  176786|20in Monitor|               1|    109.99|      NULL|701 North St, San...|
|  176839|20in Monitor|               1|    109.99|      NULL|625 Willow St, Bo...|
|  176868|20in Monitor|               1|    109.99|      NULL|213 Highland St, ...|
|  177058|20in Monitor|               1|    109.99|      NULL|144 Adams St, Los...|
|  177113|20in Monitor|               1|    109.99|      NULL|554 Cedar St, Aus...|
|  177147|20in Monitor|               1|    109.99|      NULL|506 River St, San...|
|  177247|20in Monitor|               1|    109.99|      NULL|613 7th St, Los A...|
|  177285|20in Monitor|               1|    109.99|      NULL|947 Hickory St, S...|
|  177300|20in Monitor|               1|    109.99|      NULL|276 Lincoln St, L...|
|  177305|20in Monitor|               1|    109.99|      NULL|164 Pine St, Seat...|
|  177306|20in Monitor|               1|    109.99|      NULL|171 Chestnut St, ...|
|  177397|20in Monitor|               1|    109.99|      NULL|438 Park St, Aust...|
|  177615|20in Monitor|               1|    109.99|      NULL|196 Lake St, Dall...|
+--------+------------+----------------+----------+----------+--------------------+
only showing top 20 rows

In [43]:
df.filter(df.Product == '20in Monitor').describe().show()

+-------+------------------+------------+------------------+------------------+--------------------+
|summary|          Order ID|     Product|  Quantity Ordered|        Price Each|    Purchase Address|
+-------+------------------+------------+------------------+------------------+--------------------+
|  count|              4101|        4101|              4101|              4101|                4101|
|   mean|231867.75201170446|        NULL|1.0068276030236527|109.98999786376953|                NULL|
| stddev| 51513.63115865957|        NULL| 0.082356789397344|               0.0|                NULL|
|    min|            141289|20in Monitor|                 1|            109.99|1 Dogwood St, Dal...|
|    max|            319648|20in Monitor|                 2|            109.99|999 Willow St, Se...|
+-------+------------------+------------+------------------+------------------+--------------------+

In [45]:
df.filter(df.Product == '20in Monitor').select('Purchase Address').show()

+--------------------+
|    Purchase Address|
+--------------------+
|765 Cherry St, Se...|
|804 Church St, Da...|
|952 1st St, Bosto...|
|873 Sunset St, Sa...|
|748 Washington St...|
|848 West St, Dall...|
|575 Hickory St, S...|
|701 North St, San...|
|625 Willow St, Bo...|
|213 Highland St, ...|
|144 Adams St, Los...|
|554 Cedar St, Aus...|
|506 River St, San...|
|613 7th St, Los A...|
|947 Hickory St, S...|
|276 Lincoln St, L...|
|164 Pine St, Seat...|
|171 Chestnut St, ...|
|438 Park St, Aust...|
|196 Lake St, Dall...|
+--------------------+
only showing top 20 rows

In [46]:
df.where(df.Product == '20in Monitor').summary('count').show()

+-------+--------+-------+----------------+----------+----------------+
|summary|Order ID|Product|Quantity Ordered|Price Each|Purchase Address|
+-------+--------+-------+----------------+----------+----------------+
|  count|    4101|   4101|            4101|      4101|            4101|
+-------+--------+-------+----------------+----------+----------------+

In [48]:
df.select(df.Product, df['Quantity Ordered']*df['Price Each']).show(4)

+--------------------+-------------------------------+
|             Product|(Quantity Ordered * Price Each)|
+--------------------+-------------------------------+
|USB-C Charging Cable|                           23.9|
|                NULL|                           NULL|
|Bose SoundSport H...|                          99.99|
|        Google Phone|                          600.0|
+--------------------+-------------------------------+
only showing top 4 rows

In [49]:
df.withColumn('new_column', df['Price Each']/df['Quantity Ordered']).show(4)

+--------+--------------------+----------------+----------+----------+--------------------+-----------------+
|Order ID|             Product|Quantity Ordered|Price Each|Order Date|    Purchase Address|       new_column|
+--------+--------------------+----------------+----------+----------+--------------------+-----------------+
|  176558|USB-C Charging Cable|               2|     11.95|      NULL|917 1st St, Dalla...|5.974999904632568|
|    NULL|                NULL|            NULL|      NULL|      NULL|                NULL|             NULL|
|  176559|Bose SoundSport H...|               1|     99.99|      NULL|682 Chestnut St, ...|99.98999786376953|
|  176560|        Google Phone|               1|     600.0|      NULL|669 Spruce St, Lo...|            600.0|
+--------+--------------------+----------------+----------+----------+--------------------+-----------------+
only showing top 4 rows

In [53]:
from pyspark.sql.functions import udf

In [61]:
def cost_range(val_):
    if val_ is None:
        return 'Unknown'
    if val_> 90:
        return 'low'
    elif 90 < val_< 200:
        return 'medium'
    else:
        return 'high'

In [62]:
cost_range_udf = udf(cost_range, StringType())

# Apply the UDF to create a new column 'cost-range'
df_with_cost_range = df.withColumn('cost-range', cost_range_udf(df['Price Each']))

# Show the updated DataFrame
df_with_cost_range.show(5)

+--------+--------------------+----------------+----------+----------+--------------------+----------+
|Order ID|             Product|Quantity Ordered|Price Each|Order Date|    Purchase Address|cost-range|
+--------+--------------------+----------------+----------+----------+--------------------+----------+
|  176558|USB-C Charging Cable|               2|     11.95|      NULL|917 1st St, Dalla...|      high|
|    NULL|                NULL|            NULL|      NULL|      NULL|                NULL|   Unknown|
|  176559|Bose SoundSport H...|               1|     99.99|      NULL|682 Chestnut St, ...|       low|
|  176560|        Google Phone|               1|     600.0|      NULL|669 Spruce St, Lo...|       low|
|  176560|    Wired Headphones|               1|     11.99|      NULL|669 Spruce St, Lo...|      high|
+--------+--------------------+----------------+----------+----------+--------------------+----------+
only showing top 5 rows